.icon-green {
    background: rgb(22, 188, 22);
}

.icon-red {
    background: rgb(221, 22, 22);
}

.icon-yellow {
    background: rgb(236, 202, 8);
}

.my-div-icon {
    width: 25px !important;
    height: 25px !important;
    border: 2px dotted black;
    opacity: 0.8;
    border-radius: 50%;
}

.route::before {
    /* background: blue; */
    color: white;
    font-size: 18px;
    padding-left: 7px;
}

.desi-1::before {
    content: "1";
}
.desi-2::before {
    content: "2";
}
.desi-3::before {
    content: "3";
}
.desi-4::before {
    content: "4";
}
.desi-5::before {
    content: "5";
}
.desi-6::before {
    content: "6";
}
.desi-7::before {
    content: "7";
}
.desi-7H::before {
    content: "7H";
    padding-left: 1px;
    font-size: 16px;
}
.desi-8::before {
    content: "8";
}
.desi-9::before {
    content: "9";
}
.desi-10::before {
    content: "10";
    padding-left: 1px;
    font-size: 16px;
}
.desi-10H::before {
    content: "10H";
}
